body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: rgb(241, 221, 221);
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background: #915660;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 10px auto;
  background: #a77878;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 10px auto;
  background: #8c6767;
  color: rgb(0, 0, 0);
  width: 600px;
  margin-bottom: 10px;
}

div {
  margin: 30px auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
}


.description .textbox {
  background-color: rgb(190, 188, 188);
  text-align: center;
}

.features {
  text-align: center;
}

.features ul {
  display: inline-block;
  text-align: left; 
}

.img-container{
  display: flex;  
  flex-wrap: wrap;      
  flex-direction: row;     
  gap: 10px;
  background-color: rgb(185, 153, 153);
  max-width: auto;
}
