body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background: rgb(241, 221, 221);
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background: #b56d79;
  color: rgb(0, 0, 0);
}

h2 {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 10px auto;
  background: #8d5b5b;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto 10px auto;
  background: #8c6767;
  color: rgb(0, 0, 0);
  width: 600px;
  margin-bottom: 10px;
}

div {
  margin: 30px auto;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
}


.description .textbox {
  background-color: gray;
  text-align: center;
}

